hmtl
 head
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
  link(rel="stylesheet" href="http://blackrockdigital.github.io/startbootstrap-freelancer/css/freelancer.css")
  link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-aNUYGqSUL9wG/vP7+cWZ5QOM4gsQou3sBfWRr/8S3R1Lv0rysEmnwsRKMbhiQX/O", crossorigin="anonymous")
  link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700")
  link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
  title LUNCHBOX
  style.
 body
  .row
    .col-md-4 &nbsp;
    .col-md-4
     div
      h1 LunchBox
      p Mobile payment on the fly
     div
       h4 #{payment.name}
     div
       h6 #{payment.description}
     div
       h1 #{payment.amount} €
     div
       a(href=payment.paypalLink): i.fa.fa-paypal.fa-3x
    .col-md-4 &nbsp;


